@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #34495e;
  font-family: 'Roboto', sans-serif;
  color: #2c3e50;
  height: 100%;
}

h1 {
  margin: 20px 0;
  letter-spacing: 5px;
  font-family: 'Yellowtail', sans-serif;
  font-size: 2.5em;
}

h3 {
  margin: 10px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.input-container {
  margin: 10px 0;

}

.input-container p{
  margin-bottom: 10px;
}

.input-container button {
  border: 1px solid black;
  color: #ffffff;
  font-size: 1em;
  background-color: #3498db;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  border-radius: 5px;
}

.input-container input{
  width: 80px;
  height: 30px;
  text-align: center;
  font-size: 16px;

}

.container{
  text-align: center;
  width: 600px;
  margin: 15px auto;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px 100px;
}

.flex{
  display: flex;
  justify-content: space-between;
}

.ingredients {
  margin-top: 20px;
  font-size: 1.2em;
}